// Page d'accueil
.page--accueil {
    margin: 0;


    // Header
    .accueil--header {
        figure {
            overflow: hidden;
        }
        img {
            height: 390px;
            max-width: none;
            width: auto;
            @media screen and (min-width : 1350px ) {
                width: 100%;
                height: auto;
            }
        }
        figcaption {
            background: $grisClair;
            border: 8px solid $blanc;
            padding: 30px 20px;
            margin: -280px 20px 0 20px;
            position: relative;
            @media screen and (min-width : 640px) {
                margin: -280px auto 0 ;
                max-width: 600px;
            }
        }
    }



    // Citation
    .accueil--citation {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;

        cite {
            border-left : 5px solid $rouge;
            border-right : 5px solid $rouge;
            padding: 0 10px 0;
            font-weight: 700;
            font-size: 18px;
            color: $noir;

            .nom{
                font-weight: 300;
                font-size: 16px;
            }
        }
    }




    // Esprit coop
    .accueil--esprit-coop {
        padding: 0 0 60px;
        position: relative;
        @media screen and (min-width : 640px) {
            background: url(../images/background-bleu.jpg) no-repeat;
            background-position: bottom center;
        }
        .row {
            position: relative;
        }
        img {
            width: 100%;
            height: auto;
             @media screen and (min-width : 640px) {
                 width: auto;
             }
        }
        article {
            margin-top: -150px;
            position: relative;
            background: $grisClair;
            border: 8px solid $blanc;
            padding: 20px;
            @media screen and (min-width : 640px) {
                position: absolute;
                top: 50%;
                left: 15%;
                transform: translateY(-50%);
                margin-top: 0;
                margin-right: 20px;
                max-width: 700px;
            }
            @media screen and (min-width : 1200px) {
                left: 400px;
                padding: 40px;
            }
        }
    }




    // Le projet
    .accueil--le-projet {
        padding: 60px 0 30px;
        position: relative;
        @media screen and (min-width : 640px) {
            background: url(../images/background-bleu.jpg) no-repeat;
            background-position: top center;
        }
        .row {
            position: relative;
            @media screen and (min-width : 640px) {
                min-height: 488px;
            }
        }
        img {
            width: 100%;
            height: auto;
             @media screen and (min-width : 640px) {
                 width: auto;
                 position: absolute;
                 right: 0;
             }
        }
        article {
            margin-top: -150px;
            position: relative;
            background: $grisClair;
            border: 8px solid $blanc;
            padding: 20px;
            @media screen and (min-width : 640px) {
                position: absolute;
                top: 50%;
                right: 15%;
                transform: translateY(-50%);
                margin-top: 0;
                margin-left: 20px;
                max-width: 700px;
                transform: translateY(-50%);
            }
            @media screen and (min-width : 1200px) {
                right: 400px;
                padding: 40px;
            }
        }
        .description {
            margin-bottom: 30px;
        }
        .bouton-rouge {
            display: block;
            margin: 0 auto;
            width: 160px;
        }
    }



    //Separateur page d'accueil
    .accueil--separateur {
        border: 1px solid $bleu;
        margin: 50px 0;
    }



    // FABLAB et Ateliers d'artiste
    .accueil--le-fablab {
        padding: 30px 0 0;
        @media screen and (min-width : 640px ) {
            padding: 30px 0 60px;
        }
        @media screen and (min-width : 960px ) {
            padding: 30px 0 120px;
        }
        .row {
            position: relative;
        }
        .article-fablab, .article-ateliers {
            background: $grisClair;
            border: 8px solid $blanc;
            padding: 20px;
            max-width: 420px;
            margin: 0 auto;
            position: relative;
            @media screen and (min-width : 960px) {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                max-width: 470px;
            }
        }
        .article-fablab {
            margin-bottom: -50px;
            @media screen and (min-width : 960px) {
                margin: 0;
                left: 0;
            }
        }
        .article-ateliers {
            margin-top: -50px;
            @media screen and (min-width : 960px) {
                margin: 0;
                right: 0;
            }
        }
        .description {
            margin-bottom: 30px;
        }
    }



    //Fin de la page d'accueil
}